*{
    background-color: pink;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    width: 100vw;   
}
header{
    text-align: center;
}
main{
    height: 90vh;
    width: 100vw;
   
}
footer{
    height: 10vh;
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
h2{
    font-family: monospace;
}

.header-disclaimer{
    height: 10vh;
    width: 100vw;
}

.disclaimer{
    height: 80vh;
    width: 100vw;
   
}
.footer-disclaimer{
    height: 10vh;
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}



.noto-sans-jp-japanese {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

#time{
    color: rebeccapurple;
    font: bolder;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.2rem;
}

/* for no button  */
.button-container {
    display: flex;
    gap: 20px;
    position: relative;
    align-items: center;
    justify-content: center;
}
.button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    /* position: absolute; */
}

/* // for moving no button */
.new-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.new-button-container {
    position: relative;
    height: 100px;
    width: 300px;
}

.new-button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    position: absolute;
}

a{
    text-decoration: none;
    background-color: transparent;
    color: white;
}

 /* custom fonts  */
.kalnia-glaze-colorFont {
    font-family: "Kalnia Glaze", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-shadow: 1px 1px 5px purple;
    font-variation-settings:
      "wdth" 700;
     
  }